html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 57px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
}
